<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.group9.fooddelivery">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_CONTACTS" />

  <application
    android:name=".context.FoodDeliveryApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.FoodDelivery"
    android:usesCleartextTraffic="true">

    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".ui.user.LoginActivity"
      android:label="用户登录" />
    <activity
      android:name=".ui.user.RegisterActivity"
      android:label="用户注册" />
    <activity android:name=".ui.user.UserInfo"/>
    <activity
      android:name=".ui.foodmenu.FoodMenuActivity"
      android:label="点餐" />
    <activity android:name=".ui.order.OrderDetailActivity" />
    <activity android:name=".ui.order.OrderSettlementActivity" />
    <activity android:name=".ui.address.AddressUpdatingActivity" />
    <activity android:name=".ui.address.AddressAddingActivity" />
    <activity android:name=".ui.address.AddressListActivity" />

  </application>

</manifest>